@media (min-width: 1200px) {
    .edu-banner-lower {
        max-width: 53vw;
    }
    li {
        font-size: .85em;
    }
    .edu-banner-lower {
        max-width: 60vw;
    }
}
@media (max-width: 1199.98px) {
    p {
        font-size: .85em;
    }
    #bootstrap-overrides h1 {
        font-size: 2.2em;
    }
    #bootstrap-overrides h2 {
        font-size: 1.7em;
    }
    #bootstrap-overrides h3 {
        font-size: 1.5em;
    }
    #bootstrap-overrides h4 {
        font-size: 1.2em;
    }
    li {
        font-size: .8em;
    }
    .edu-banner-lower {
        max-width: 60vw;
    }
}
@media (max-width: 991.98px){

}
@media (max-width: 767.98px) {
    p {
        font-size: .75em;
    }
    #bootstrap-overrides h1 {
        font-size: 2em;
    }
    #bootstrap-overrides h2 {
        font-size: 1.5em;
    }
    #bootstrap-overrides h3 {
        font-size: 1.2em;
    }
    #bootstrap-overrides h4 {
        font-size: 1em;
    }
    hr {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .edu-banner-lower {
        max-width: 100%;
    }
}
@media (max-width: 575.98px) {
    p {
        font-size: .6em;
    }
    #bootstrap-overrides h1 {
        font-size: 1.1em;
    }
    #bootstrap-overrides h2 {
        font-size: .9em;
    }
    #bootstrap-overrides h3 {
        font-size: .8em;
    }
    #bootstrap-overrides h4 {
        font-size: .75em;
    }
    #bootstrap-overrides h5 {
        font-size: .7em;
    }
    #bootstrap-overrides h6 {
        font-size: .65em;
    }
    #link-box {
        padding-bottom: 8vh;
    }
    hr {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    li {
        font-size: .8em;
    }
    .edu-banner-lower {
        max-width: 80vw;
    }
}
#head-logo:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
ul {
    margin-bottom: 0px;
    padding-left: 4vmin;
}
#title h1 {
     font-size: 4vmax;
}
#title h2 {
    font-size: 3vmax;
}
.out {
    /*background-color: #808080;*/
    padding: 5px;
    -webkit-box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
}
body {
    font-family: 'Antic Slab', serif;
}
p {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2px;
}
.fh-section {
    height: 92vh;
}
.portrait-main {
    height: 40vmin;
    border: 3px solid white;
    border-radius: 50%;
}
#bootstrap-overrides .out .menu-btn {
    margin: 10% 0px;
    height: calc(100vmin / 7);
    width: calc(100vmin / 7);
    padding: 20%;
    background-color: #4255ff;
    border-radius: 50%;
    background-size: contain;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 0px 25px 41px -20px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 25px 41px -20px rgba(0,0,0,0.74);
    box-shadow: 0px 25px 41px -20px rgba(0,0,0,0.74);
}
.out .menu-btn:hover {
    transform: scale(1.1);
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.out .menu-btn img{
    margin: auto;
    display: block;
    width: 100%;
}
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #FFF; /* old IE */
    background-color: #FFF; /* Modern Browsers */
}
#bootstrap-overrides .navbar-brand {
    padding: 0px;
}
#bootstrap-overrides nav {
    position: fixed;
    z-index: 2000;
    top: 0px;
    width: 100%;
    height: 8vh;
    -webkit-box-shadow: 0px 1px 30px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 30px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 30px 6px rgba(0,0,0,0.75);
    /*opacity: 0.7;*/
    /*filter: alpha(opacity=70);*/
}
.img-container {
    position: relative;
    width: 75%;
    text-align: center;
}
.img-container h1 {
    position: absolute;
    width: 75%;
    z-index: 2000;
}
.edu-banner {
    background-size: cover;
    min-width: 70vw;
    padding: 10px;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/

}
.edu-banner#gt {
    background-image: url("../img/tech-background-tp.png");
    background-position: 50% 35%;
    padding-right: 20%;
}
.edu-banner#jhs {
    background-image: url("../img/jhs-tp.png");
    background-position: 50% 45%;
    padding-left: 25%;
 }
.edu-banner-lower {
    padding: 1vmax;
}
.blue-vector {
    background-color: #ffffff;
    background-image: url("../img/blue-vector-bg.svg");
    background-size: cover;
    /* background by SVGBackgrounds.com */
}
#head-logo {
    height: 6vh;
}
.card {
    margin: 4vmin 2vmin;
    overflow: hidden;
}
.pt {
    padding-top: 3vmax;
}
.skill-card-holder > a {
    padding: 7vmin;
    margin: 1vmax;
    background-color: #f8f9fa;
    -webkit-box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
}
.skill-card-holder > a:hover {
    background-color: #d4d5d6;
}
.skill-card-holder > a:active {
    background-color: #a2a3a4;
}