.content {
    width: 50%;
}

.title {
    font-size: 3rem;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px white solid;
    display: block;
}

.separator {
    border: 1px white solid;
    margin-top: 40px;
}