@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.aboutContent {
    position: relative;
    width: 90%;
    max-width: 700px;
    left: 10%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    font-family: Ubuntu, sans-serif;
    font-size: 1.5rem;
}

.particles {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
//   z-index: -1000;
}

section {
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

section:last-child {
    margin-bottom: 40px;
}

.homeSection {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

hr {
    border: 1px solid white;
}

.emailBox {
    position: fixed;
    display: inline-block;
    font-weight: bold;
    right: 20px;
    bottom: 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 2rem;
}

.iconContainer svg {
    margin: 0 10px 0 10px;
    font-size: 30px;
}

.skillsSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.experienceSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsSectionHeader {
    padding-left: 5%;
}

$skillBarHeight: 125;


.skillBars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillBars svg {
    height: #{$skillBarHeight}px;
}

.skillBars text{
    fill: white;
}

.experienceContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.experienceHeader {
    margin: 0 auto 75px auto;
	word-wrap: anywhere;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .skillBars {
    }
    .skillbarContainer {
        margin: 0 2rem;
    }
    .skillBars svg{
        height: #{$skillBarHeight}px;
    }
    .skillBars .right {
        margin-top: calc(#{$skillBarHeight}px / 2)
    }
    .experienceContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .skillsSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .experienceHeader {
        width: 50%;
        word-wrap: initial;
    }
    .aboutContent {
        width: 40%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 3rem;
    }
    .skillBars {
        margin: 0 2rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .experienceContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .skillBars {
        margin: 0 2rem;
    }
    .skillsSection {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}   

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .skillBars {
        margin: 0 2rem;
    }
    .skillbarContainer {
        margin: 0 2rem;
    }
    .skillBars svg{
        height: calc(#{$skillBarHeight}px * 1.5);
    }
    .experienceContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}