$space: #2B2D42;
$manatee: #8D99AE;
$navbar-size: 70;
$navbar-padding: 10;
$inactive: rgb(189, 189, 189);

body {
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    padding: 0 #{$navbar-padding}px 0 #{$navbar-padding}px;
    height: 100vh;
    width: #{$navbar-size}px;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.links li a {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 0;
}

.links li a:hover {
    cursor: pointer;
}

nav > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
}

nav > ul > li {
    text-align: center;
    position: relative;
    width: 100%;
}

nav a {
    display: block;
}

.brand {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
}

.links {
    font-size: 1.5rem;
    color: $inactive;
}

.links > li {
    padding: 10px 0 10px 0;
}

.links a:hover {
    color: white;
}

.external > li {
    padding: 5px 0 5px 0;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.hero {
    position: relative;
    left: calc(#{$navbar-size}px + calc(#{$navbar-padding}px * 2));
    width: calc(100% - #{$navbar-size}px - calc(#{$navbar-padding}px * 2));
    box-sizing: border-box;
    overflow: hidden;
}